<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 스크래퍼</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>뉴스 스크래퍼</h1>
        <h4>오늘의 뉴스</h4>
        <form action="/search">
            <input type="text" name="keyword" placeholder="키워드를 입력하세요" />
            <button>검색</button>
        </form>
    </main>
</body>

</html>